# frontend
frontend/node_modules/
frontend/dist/

# backend
backend/target/
backend/src/main/resources/application-local.yml

# uploads
backend/uploads/
uploads/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
